$maxSmall: "(max-width: 767px)";
$maxMedium: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

$redColor: #e2494e;
$greyColor: #535353;

$float-left: left;
$float-right: right;

$text-left: left;
$text-right: right;

$r: right;
$l: left;
